.header-nav{
    background-color: rgba(5, 5, 5);
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    height: 50px;
    align-items: center;
    padding-top: 12px;
}

.header-nav.hide{
    top: -63px;
}

.header{
    display: flex;
}

.header li{
    margin-right: 20px;
}

.header li:hover{
    cursor: pointer;
    color: orange;
}


.top-title{
    background: url(img/IMG_8150.JPG);
    background-size: 100% 110%; 
    background-repeat: no-repeat; 
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

h1{
    font-size: 60px;
    color: white;
    transform: rotate(-20deg);
    position: absolute;
    top: 117px;
    left: 40px;
    font-family: 'Sacramento', cursive;
    text-shadow: 2px 1px 0 rgba(19, 223, 97, 0.3);
}

h2{
    font-size: 30px;
    color: white;
    transform: rotate(-20deg);
    position: absolute;
    top: 180px;
    left: 100px;
    margin: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 1px 1px 0 rgba(19, 83, 223, 0.3);
}

.container{
    padding: 0px;
    max-width: 100%;
}

/* content */
.content{
    width: 100%;
    text-align: center;
}

section{
    height: 100vh;
    margin: 40px;
}

.fadein{
    opacity: 0;
    transition: all 500ms;
}

.fadein.scrollin{
    opacity: 1;
}

.title{
    font-size: 50px;
    padding: 30px;
    color: aqua;
    font-weight: bold; 
}

.ship{
    display: flex;
}

.ship ul{
    margin: 30px;
}

p{
    font-size: 25px;
}

.image{
    width: 300px;
    height: 300px;
}

.gallery{
    background-color: azure;
    width: 100%;
    text-align: center;
}

.style{
    font-size: 40px;
    padding-top: 30px;
    font-family: 'Sacramento', cursive;
}

.img,
.video{
    height: 200px;
    width: 200px;
    margin: 5px;
    cursor: pointer;
}

.img:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

#over{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.img-box{
    position: relative;
    margin-top: 50px;
    display: inline-block;
}

.lightbox{
    height: 600px;
    width: 900px;
}

.close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2em;
    font-weight: bold;
    color: black;
    cursor: pointer; 
    z-index: 10;
}

#myChart{
    height: 400px;
    width: 400px;
}

.money{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.money ul span{
    color: red;
    font-size: 20px;
    font-weight: bold; 
}

.money ul li:nth-child(2){
    padding-top: 15px;
}

.money ul li:nth-child(5){
    border-bottom: 1px solid black;
}

.money ul li:last-child{
    font-size: 20px;
}

.money p{
    font-size: 12px;
}

.lifestyle{
    height: 150vh;
}

.event-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event{
    border-radius: 50%;
}



/* お問い合せフォーム */
.contact{
    align-items: center;
    text-align: center;
    background: url(img/20181118_171432.jpg);
    background-size: 100% 110%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 80vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.contact-form{
    margin: 5px;
    background-color: rgba(0, 255, 255, 0.7);
}

.btn{
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: aqua;
    border-style: none;
    width: 150px; 
    margin: 0 auto;
}

.btn:hover{
    background-color: blue;
}

/* footer */
footer{
    background-color: black;
    height: 50px;
    text-align: center;
    align-items: center;
    padding-top: 17px;
    color: white;
}