.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0 auto;
}

.header li{
    margin-right: 20px;
}

.top{
    background: url(img/IMG_8150.JPG);
    background-size: 100% 110%; 
    background-repeat: no-repeat; 
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

h1{
    font-size: 60px;
    color: white;
    transform: rotate(-20deg);
    position: absolute;
    top: 90px;
    left: 40px;
    font-family: 'Sacramento', cursive;
    text-shadow: 2px 1px 0 rgba(19, 223, 97, 0.3);
}

h2{
    font-size: 30px;
    color: white;
    transform: rotate(-20deg);
    position: absolute;
    top: 155px;
    left: 100px;
    margin: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 1px 1px 0 rgba(19, 83, 223, 0.3);
}

.container{
    padding: 0px;
    max-width: 100%;
}

.content{
    /* height: 100vh; */
    /* background-color: bisque; */
    width: 100%;
    text-align: center;
}

section{
    height: 100vh;
    margin: 40px;
}

.title{
    font-size: 50px;
    padding: 30px;
}

.ship{
    display: flex;
}

.ship ul{
    margin: 30px;
}

p{
    font-size: 25px;
}

.image{
    width: 300px;
    height: 300px;
}

.gallery{
    background-color: azure;
    width: 100%;
    text-align: center;
}

.style{
    font-size: 40px;
    padding-top: 30px;
    font-family: 'Sacramento', cursive;
}

.img{
    height: 200px;
    width: 200px;
    margin: 5px;
    cursor: pointer;
}

#over{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.img-box{
    position: relative;
    margin-top: 50px;
    display: inline-block;
}

.lightbox{
    height: 600px;
    width: 900px;
}

.close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2em;
    font-weight: bold;
    color: black;
    cursor: pointer; 
}

#myChart{
    height: 400px;
    width: 400px;
}

.money{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* お問い合せフォーム */
.contact{
    align-items: center;
    text-align: center;
    background: url(img/20181118_171432.jpg);
    background-size: 100% 110%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 80vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.contact-form{
    margin: 5px;
    background-color: rgba(0, 255, 255, 0.7);
}

.btn{
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: aqua;
    border-style: none;
    width: 150px; 
    margin: 0 auto;
}

.btn:hover{
    background-color: blue;
}

/* footer */
footer{
    background-color: white;
    height: 50px;
    text-align: center;
    align-items: center;
}